{
  "plugins": ["prettier-plugin-vue"],
  "vueTemplateStyle": "expanded",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false
}
